# DSA homework week 5 (process data): Sugene Cho-Baker

In [1]:
import numpy as np
import pandas as pd

In [2]:
hw5data = pd.read_csv(r"C:\ETSProjects_SCB\UpskillTraining_2022\Week5\Dataset\PSTRE_syntheticData.csv", delimiter='\t')
# hw5data[['TestTakerID','tTimestamp','tCoding']] = hw5data['TestTakerID\tTimestamp\tCoding'].str.split('\t', expand=True)

hw5data

       TestTakerID  Timestamp     Coding
0          1001042          0      START
1          1001042      44985      SS_Se
2          1001042      55852   SS_Se_OK
3          1001042      55950  SS_Type_2
4          1001042      66546          E
...            ...        ...        ...
10991      4076375      82216         SS
10992      4076375     107365          E
10993      4076375     112452       Next
10994      4076375     113670    Next_OK
10995      4076375     113672        END

[10996 rows x 3 columns]

## 1. Create the action sequence number variable (per TestTaker)

In [3]:
# print(list(hw5data.groupby('TestTakerID')))

In [4]:
hw5data = hw5data.assign(ActSeq=hw5data.groupby('TestTakerID').cumcount()+1)

In [5]:
hw5data.head(30)

    TestTakerID  Timestamp     Coding  ActSeq
0       1001042          0      START       1
1       1001042      44985      SS_Se       2
2       1001042      55852   SS_Se_OK       3
3       1001042      55950  SS_Type_2       4
4       1001042      66546          E       5
5       1001042      90189         SS       6
6       1001042      96096          E       7
7       1001042     101813       Next       8
8       1001042     105379    Next_OK       9
9       1001042     105382        END      10
10      1001079          0      START       1
11      1001079      21234      SS_So       2
12      1001079      27546   SS_So_1B       3
13      1001079      31906   SS_So_OK       4
14      1001079      77760         SS       5
15      1001079     107174          E       6
16      1001079     114933         SS       7
17      1001079     120090          E       8
18      1001079     124409         SS       9
19      1001079     126059          E      10
20      1001079     167356         SS      11
21      1001079     173446          E      12
22      1001079     179097          E      13
23      1001079     192324       Next      14
24      1001079     194115    Next_OK      15
25      1001079     194117        END      16
26      1001103          0      START       1
27      1001103      39002      SS_Se       2
28      1001103      56607   SS_Se_OK       3
29      1001103      56730  SS_Type_2       4

## 2. Create the time interval sequence for each TestTaker

In [ ]:
# changing time stamp data to numeric (did not need that, but just noting)
# print(hw5data['Timestamp'].dtypes)
# hw5data['Timestamp'] = hw5data['Timestamp'].astype(float)
# print(hw5data['Timestamp'].dtypes

### 2.1. Create the time spent from start for each TestTaker

In [6]:
# calculated time spent from first action...
##### NOTE. I could not find a way to do this by test-taker
print(hw5data.loc[:,'Timestamp'].sub(hw5data.loc[0,'Timestamp']))

0             0
1         44985
2         55852
3         55950
4         66546
          ...
10991     82216
10992    107365
10993    112452
10994    113670
10995    113672
Name: Timestamp, Length: 10996, dtype: int64

In [7]:
hw5data['TimeInt1'] = hw5data.loc[:,'Timestamp'].sub(hw5data.loc[0,'Timestamp'])

In [8]:
hw5data.head(20)

    TestTakerID  Timestamp     Coding  ActSeq  TimeInt1
0       1001042          0      START       1         0
1       1001042      44985      SS_Se       2     44985
2       1001042      55852   SS_Se_OK       3     55852
3       1001042      55950  SS_Type_2       4     55950
4       1001042      66546          E       5     66546
5       1001042      90189         SS       6     90189
6       1001042      96096          E       7     96096
7       1001042     101813       Next       8    101813
8       1001042     105379    Next_OK       9    105379
9       1001042     105382        END      10    105382
10      1001079          0      START       1         0
11      1001079      21234      SS_So       2     21234
12      1001079      27546   SS_So_1B       3     27546
13      1001079      31906   SS_So_OK       4     31906
14      1001079      77760         SS       5     77760
15      1001079     107174          E       6    107174
16      1001079     114933         SS       7    114933
17      1001079     120090          E       8    120090
18      1001079     124409         SS       9    124409
19      1001079     126059          E      10    126059

### 2.2. Time spent from previous action (duration per event)

In [9]:
# Below 2 ways of creating time intervals...
print (hw5data['Timestamp'].diff())
print (hw5data['Timestamp'] - hw5data['Timestamp'].shift(1))

# Now doing number 2 above by test-taker
print (hw5data.groupby('TestTakerID')['Timestamp'].diff())

0            NaN
1        44985.0
2        10867.0
3           98.0
4        10596.0
          ...
10991     2507.0
10992    25149.0
10993     5087.0
10994     1218.0
10995        2.0
Name: Timestamp, Length: 10996, dtype: float64
0            NaN
1        44985.0
2        10867.0
3           98.0
4        10596.0
          ...
10991     2507.0
10992    25149.0
10993     5087.0
10994     1218.0
10995        2.0
Name: Timestamp, Length: 10996, dtype: float64
0            NaN
1        44985.0
2        10867.0
3           98.0
4        10596.0
          ...
10991     2507.0
10992    25149.0
10993     5087.0
10994     1218.0
10995        2.0
Name: Timestamp, Length: 10996, dtype: float64

In [10]:
hw5data['TimeInt2'] = hw5data.groupby('TestTakerID')['Timestamp'].diff()

In [11]:
hw5data.head(30)

    TestTakerID  Timestamp     Coding  ActSeq  TimeInt1  TimeInt2
0       1001042          0      START       1         0       NaN
1       1001042      44985      SS_Se       2     44985   44985.0
2       1001042      55852   SS_Se_OK       3     55852   10867.0
3       1001042      55950  SS_Type_2       4     55950      98.0
4       1001042      66546          E       5     66546   10596.0
5       1001042      90189         SS       6     90189   23643.0
6       1001042      96096          E       7     96096    5907.0
7       1001042     101813       Next       8    101813    5717.0
8       1001042     105379    Next_OK       9    105379    3566.0
9       1001042     105382        END      10    105382       3.0
10      1001079          0      START       1         0       NaN
11      1001079      21234      SS_So       2     21234   21234.0
12      1001079      27546   SS_So_1B       3     27546    6312.0
13      1001079      31906   SS_So_OK       4     31906    4360.0
14      1001079      77760         SS       5     77760   45854.0
15      1001079     107174          E       6    107174   29414.0
16      1001079     114933         SS       7    114933    7759.0
17      1001079     120090          E       8    120090    5157.0
18      1001079     124409         SS       9    124409    4319.0
19      1001079     126059          E      10    126059    1650.0
20      1001079     167356         SS      11    167356   41297.0
21      1001079     173446          E      12    173446    6090.0
22      1001079     179097          E      13    179097    5651.0
23      1001079     192324       Next      14    192324   13227.0
24      1001079     194115    Next_OK      15    194115    1791.0
25      1001079     194117        END      16    194117       2.0
26      1001103          0      START       1         0       NaN
27      1001103      39002      SS_Se       2     39002   39002.0
28      1001103      56607   SS_Se_OK       3     56607   17605.0
29      1001103      56730  SS_Type_2       4     56730     123.0

## 3. Extract the time for the first action for each participant

In [12]:
hw5data[hw5data.ActSeq==1].loc[:,'TestTakerID']

0        1001042
10       1001079
26       1001103
38       1001112
45       1002087
          ...
10949    3464227
10960    3491220
10969    4044376
10973    4049370
10982    4076375
Name: TestTakerID, Length: 1079, dtype: int64

In [13]:
### Make a new dataframe with test-taker ID and the variable above.
hw5datas1 = hw5data[hw5data.ActSeq==1]

In [14]:
hw5datas1

       TestTakerID  Timestamp Coding  ActSeq  TimeInt1  TimeInt2
0          1001042          0  START       1         0       NaN
10         1001079          0  START       1         0       NaN
26         1001103          0  START       1         0       NaN
38         1001112          0  START       1         0       NaN
45         1002087          0  START       1         0       NaN
...            ...        ...    ...     ...       ...       ...
10949      3464227          0  START       1         0       NaN
10960      3491220          0  START       1         0       NaN
10969      4044376          0  START       1         0       NaN
10973      4049370          0  START       1         0       NaN
10982      4076375          0  START       1         0       NaN

[1079 rows x 6 columns]

## 4. Represent each action sequence by n-grams (n=2)

In [15]:
import nltk
from nltk import ngrams
# from nltk.tokenize import word_tokenize

In [16]:
# Reshaped the actions into wide form per person
hw5datas2 = hw5data.pivot(index='TestTakerID', columns='ActSeq', values=['Coding'])

In [17]:
hw5datas2.head(20)

            Coding                                                        \
ActSeq          1         2            3          4          5        6
TestTakerID
1001042      START     SS_Se     SS_Se_OK  SS_Type_2          E       SS
1001079      START     SS_So     SS_So_1B   SS_So_OK         SS        E
1001103      START     SS_Se     SS_Se_OK  SS_Type_2          E       SS
1001112      START         E           SS          E       Next  Next_OK
1002087      START  SS_Se_OK  SS_Type_200   SS_So_1B   SS_So_OK        E
1002110      START         E           SS          E        E_S     Next
1003077      START     SS_So     SS_So_1B   SS_So_OK          E     Next
1003110      START      Next       Next_C       Next     Next_C        E
1003147      START      Next      Next_OK        END        NaN      NaN
1003165      START  SS_So_1B     SS_So_OK   SS_So_OK    SS_Save        E
1003192      START     SS_So     SS_So_1B   SS_So_2A   SS_So_OK        E
1005075      START     SS_So     SS_So_1B   SS_So_OK          E      E_S
1006135      START         E          E_S       Next    Next_OK      END
1006144      START         E         Next    Next_OK        END      NaN
1006180      START      Next      Next_OK        END        NaN      NaN
1007028      START  SS_Se_OK    SS_Type_2   SS_Se_OK  SS_Type_2        E
1007073      START         E           SS          E        E_S     Next
1007107      START     SS_So      SS_Save          E        E_S     Next
1007198      START         E            E          E          E     Next
1007204      START        SS           SS          E         SS    SS_So

                                                   ...                      \
ActSeq             7         8        9        10  ...   37   38   39   40
TestTakerID                                        ...
1001042             E      Next  Next_OK      END  ...  NaN  NaN  NaN  NaN
1001079            SS         E       SS        E  ...  NaN  NaN  NaN  NaN
1001103             E        SS        E     Next  ...  NaN  NaN  NaN  NaN
1001112           END       NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN
1002087            SS         E     Next  Next_OK  ...  NaN  NaN  NaN  NaN
1002110       Next_OK       END      NaN      NaN  ...  NaN  NaN  NaN  NaN
1003077       Next_OK       END      NaN      NaN  ...  NaN  NaN  NaN  NaN
1003110          Next    Next_C        E       SS  ...  NaN  NaN  NaN  NaN
1003147           NaN       NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN
1003165           E_S      Next   Next_C      E_S  ...  NaN  NaN  NaN  NaN
1003192            SS         E      E_S     Next  ...  NaN  NaN  NaN  NaN
1005075           E_S      Next   Next_C        E  ...  NaN  NaN  NaN  NaN
1006135           NaN       NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN
1006144           NaN       NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN
1006180           NaN       NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN
1007028             E        SS     Next  Next_OK  ...  NaN  NaN  NaN  NaN
1007073       Next_OK       END      NaN      NaN  ...  NaN  NaN  NaN  NaN
1007107       Next_OK       END      NaN      NaN  ...  NaN  NaN  NaN  NaN
1007198        Next_C       E_S     Next  Next_OK  ...  NaN  NaN  NaN  NaN
1007204      SS_So_1B  SS_So_OK        E      E_S  ...  NaN  NaN  NaN  NaN


ActSeq        41   42   43   44   45   46
TestTakerID
1001042      NaN  NaN  NaN  NaN  NaN  NaN
1001079      NaN  NaN  NaN  NaN  NaN  NaN
1001103      NaN  NaN  NaN  NaN  NaN  NaN
1001112      NaN  NaN  NaN  NaN  NaN  NaN
1002087      NaN  NaN  NaN  NaN  NaN  NaN
1002110      NaN  NaN  NaN  NaN  NaN  NaN
1003077      NaN  NaN  NaN  NaN  NaN  NaN
1003110      NaN  NaN  NaN  NaN  NaN  NaN
1003147      NaN  NaN  NaN  NaN  NaN  NaN
1003165      NaN  NaN  NaN  NaN  NaN  NaN
1003192      NaN  NaN  NaN  NaN  NaN  NaN
1005075      NaN  NaN  NaN  NaN  NaN  NaN
1006135      NaN  NaN  NaN  NaN  NaN  NaN
1006144      NaN  NaN  NaN  NaN  NaN  NaN
1006180      NaN  NaN  NaN  NaN  NaN  NaN
1007028      NaN  NaN  NaN  NaN  NaN  NaN
1007073      NaN  NaN  NaN  NaN  NaN  NaN
1007107      NaN  NaN  NaN  NaN  NaN  NaN
1007198      NaN  NaN  NaN  NaN  NaN  NaN
1007204      NaN  NaN  NaN  NaN  NaN  NaN

[20 rows x 46 columns]

In [18]:
# addled a columns that combined all actions.
hw5datas2['ActionCombined']= hw5datas2.values.tolist()

In [19]:
hw5datas2

            Coding                                                         \
ActSeq           1         2            3          4         5          6
TestTakerID
1001042      START     SS_Se     SS_Se_OK  SS_Type_2         E         SS
1001079      START     SS_So     SS_So_1B   SS_So_OK        SS          E
1001103      START     SS_Se     SS_Se_OK  SS_Type_2         E         SS
1001112      START         E           SS          E      Next    Next_OK
1002087      START  SS_Se_OK  SS_Type_200   SS_So_1B  SS_So_OK          E
...            ...       ...          ...        ...       ...        ...
3464227      START   SS_Save            E        E_S      Next     Next_C
3491220      START         E         Next     Next_C         E          E
4044376      START      Next      Next_OK        END       NaN        NaN
4049370      START   SS_Save            E        E_S      Next     Next_C
4076375      START     SS_Se     SS_Se_OK  SS_Type_0  SS_Se_OK  SS_Type_0

                                              ...                           \
ActSeq          7        8        9       10  ...   38   39   40   41   42
TestTakerID                                   ...
1001042         E     Next  Next_OK      END  ...  NaN  NaN  NaN  NaN  NaN
1001079        SS        E       SS        E  ...  NaN  NaN  NaN  NaN  NaN
1001103         E       SS        E     Next  ...  NaN  NaN  NaN  NaN  NaN
1001112       END      NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN  NaN
1002087        SS        E     Next  Next_OK  ...  NaN  NaN  NaN  NaN  NaN
...           ...      ...      ...      ...  ...  ...  ...  ...  ...  ...
3464227      Next   Next_C     Next  Next_OK  ...  NaN  NaN  NaN  NaN  NaN
3491220      Next  Next_OK      END      NaN  ...  NaN  NaN  NaN  NaN  NaN
4044376       NaN      NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN  NaN
4049370      Next  Next_OK      END      NaN  ...  NaN  NaN  NaN  NaN  NaN
4076375        SS       SS        E       SS  ...  NaN  NaN  NaN  NaN  NaN

                                 \
ActSeq        43   44   45   46
TestTakerID
1001042      NaN  NaN  NaN  NaN
1001079      NaN  NaN  NaN  NaN
1001103      NaN  NaN  NaN  NaN
1001112      NaN  NaN  NaN  NaN
1002087      NaN  NaN  NaN  NaN
...          ...  ...  ...  ...
3464227      NaN  NaN  NaN  NaN
3491220      NaN  NaN  NaN  NaN
4044376      NaN  NaN  NaN  NaN
4049370      NaN  NaN  NaN  NaN
4076375      NaN  NaN  NaN  NaN

                                                ActionCombined
ActSeq
TestTakerID
1001042      [START, SS_Se, SS_Se_OK, SS_Type_2, E, SS, E, ...
1001079      [START, SS_So, SS_So_1B, SS_So_OK, SS, E, SS, ...
1001103      [START, SS_Se, SS_Se_OK, SS_Type_2, E, SS, E, ...
1001112      [START, E, SS, E, Next, Next_OK, END, nan, nan...
1002087      [START, SS_Se_OK, SS_Type_200, SS_So_1B, SS_So...
...                                                        ...
3464227      [START, SS_Save, E, E_S, Next, Next_C, Next, N...
3491220      [START, E, Next, Next_C, E, E, Next, Next_OK, ...
4044376      [START, Next, Next_OK, END, nan, nan, nan, nan...
4049370      [START, SS_Save, E, E_S, Next, Next_C, Next, N...
4076375      [START, SS_Se, SS_Se_OK, SS_Type_0, SS_Se_OK, ...

[1079 rows x 47 columns]

In [20]:
# Added a columns at the end with a list of bigrams.
hw5datas2['bigrams'] = hw5datas2['ActionCombined'].apply(lambda row: list(nltk.ngrams(row, 2)))

In [21]:
hw5datas2

            Coding                                                         \
ActSeq           1         2            3          4         5          6
TestTakerID
1001042      START     SS_Se     SS_Se_OK  SS_Type_2         E         SS
1001079      START     SS_So     SS_So_1B   SS_So_OK        SS          E
1001103      START     SS_Se     SS_Se_OK  SS_Type_2         E         SS
1001112      START         E           SS          E      Next    Next_OK
1002087      START  SS_Se_OK  SS_Type_200   SS_So_1B  SS_So_OK          E
...            ...       ...          ...        ...       ...        ...
3464227      START   SS_Save            E        E_S      Next     Next_C
3491220      START         E         Next     Next_C         E          E
4044376      START      Next      Next_OK        END       NaN        NaN
4049370      START   SS_Save            E        E_S      Next     Next_C
4076375      START     SS_Se     SS_Se_OK  SS_Type_0  SS_Se_OK  SS_Type_0

                                              ...                           \
ActSeq          7        8        9       10  ...   39   40   41   42   43
TestTakerID                                   ...
1001042         E     Next  Next_OK      END  ...  NaN  NaN  NaN  NaN  NaN
1001079        SS        E       SS        E  ...  NaN  NaN  NaN  NaN  NaN
1001103         E       SS        E     Next  ...  NaN  NaN  NaN  NaN  NaN
1001112       END      NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN  NaN
1002087        SS        E     Next  Next_OK  ...  NaN  NaN  NaN  NaN  NaN
...           ...      ...      ...      ...  ...  ...  ...  ...  ...  ...
3464227      Next   Next_C     Next  Next_OK  ...  NaN  NaN  NaN  NaN  NaN
3491220      Next  Next_OK      END      NaN  ...  NaN  NaN  NaN  NaN  NaN
4044376       NaN      NaN      NaN      NaN  ...  NaN  NaN  NaN  NaN  NaN
4049370      Next  Next_OK      END      NaN  ...  NaN  NaN  NaN  NaN  NaN
4076375        SS       SS        E       SS  ...  NaN  NaN  NaN  NaN  NaN

                                                               ActionCombined  \
ActSeq        44   45   46
TestTakerID
1001042      NaN  NaN  NaN  [START, SS_Se, SS_Se_OK, SS_Type_2, E, SS, E, ...
1001079      NaN  NaN  NaN  [START, SS_So, SS_So_1B, SS_So_OK, SS, E, SS, ...
1001103      NaN  NaN  NaN  [START, SS_Se, SS_Se_OK, SS_Type_2, E, SS, E, ...
1001112      NaN  NaN  NaN  [START, E, SS, E, Next, Next_OK, END, nan, nan...
1002087      NaN  NaN  NaN  [START, SS_Se_OK, SS_Type_200, SS_So_1B, SS_So...
...          ...  ...  ...                                                ...
3464227      NaN  NaN  NaN  [START, SS_Save, E, E_S, Next, Next_C, Next, N...
3491220      NaN  NaN  NaN  [START, E, Next, Next_C, E, E, Next, Next_OK, ...
4044376      NaN  NaN  NaN  [START, Next, Next_OK, END, nan, nan, nan, nan...
4049370      NaN  NaN  NaN  [START, SS_Save, E, E_S, Next, Next_C, Next, N...
4076375      NaN  NaN  NaN  [START, SS_Se, SS_Se_OK, SS_Type_0, SS_Se_OK, ...

                                                       bigrams
ActSeq
TestTakerID
1001042      [(START, SS_Se), (SS_Se, SS_Se_OK), (SS_Se_OK,...
1001079      [(START, SS_So), (SS_So, SS_So_1B), (SS_So_1B,...
1001103      [(START, SS_Se), (SS_Se, SS_Se_OK), (SS_Se_OK,...
1001112      [(START, E), (E, SS), (SS, E), (E, Next), (Nex...
1002087      [(START, SS_Se_OK), (SS_Se_OK, SS_Type_200), (...
...                                                        ...
3464227      [(START, SS_Save), (SS_Save, E), (E, E_S), (E_...
3491220      [(START, E), (E, Next), (Next, Next_C), (Next_...
4044376      [(START, Next), (Next, Next_OK), (Next_OK, END...
4049370      [(START, SS_Save), (SS_Save, E), (E, E_S), (E_...
4076375      [(START, SS_Se), (SS_Se, SS_Se_OK), (SS_Se_OK,...

[1079 rows x 48 columns]